body {
    margin: 0;
    background: #070010;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    text-align: center;
}

.container {
    margin-top: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 160px;
    height: 160px;
    margin-bottom: 30px;
}

.title {
    font-size: 40px;
    letter-spacing: 3px;
    margin-bottom: 10px;
    color: #A854FF;
}

.tagline {
    font-size: 20px;
    margin-bottom: 25px;
    color: #C9B3EF;
}

.insta-link {
    text-decoration: none;
    color: #A854FF;
    font-size: 18px;
}

.insta-link:hover {
    opacity: 0.7;
}
