body {
    margin: 0;
    background: #070010;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    text-align: center;
}

.container {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 240px;   /* increased size */
    height: 240px;  /* increased size */
    margin-bottom: 35px;
}

.title {
    font-size: 48px;
    letter-spacing: 3px;
    margin-bottom: 15px;
    color: #A854FF;
}

.tagline {
    font-size: 22px;
    margin-bottom: 25px;
    color: #C9B3EF;
}

.insta-link {
    text-decoration: none;
    color: #A854FF;
    font-size: 20px;
}

.insta-link:hover {
    opacity: 0.7;
}
