.email {
    margin-top: 10px;
    font-size: 16px;
    color: #C9B3EF;
    opacity: 0.85;
}

.email a {
    color: #A854FF;
    text-decoration: none;
}

.email a:hover {
    opacity: 0.7;
}

.insta-icon {
    width: 18px;
    height: 18px;
    vertical-align: middle;
    margin-right: 6px;
}
